@page "/"
@using BLComponent.Componentes

<h1>Hello, world!</h1>

Welcome to your new app.

<PersonalProfile></PersonalProfile>

<PersonalProfileVariable Telefono="0960547785"></PersonalProfileVariable>

<br />
<SurveyPrompt Title="How is Blazor working for you?" />
