<div>
    <div class="row">
        <div class="col-sm-12 text-center">Net Developer</div>
    </div>
</div>

<h3>Perfil Personal</h3>
<div class="row">
    <div class="col-sm-12">
        <p>
            Desarrollador Senior con experiencia como Full-Stack en 4 grandes empresas. Motivado y adaptable a cualquier tipo de equipo aunque también tengo la capacidad de trabajar individualmente. Experiencia en trabajar en varios proyectos a la vez con una gran habilidad para aprender y compartir mi conocimiento y gracias a esto completar los objetivos de la empresa.
            <br /><br />
            Experiencia definiendo y liderando procesos de desarrollo. He entrenado y sido mentor de equipos de desarrollo en el que hemos hecho hincapié en las mejores practicas para llevar a cabo elementos reusables. Asegurando así una mayor visibilidad a los problemas o impedimentos del equipo, toda estos cambios han llevado a tener una mayor cualidad de producto.
            <br /><br />
            Finalmente, recientemente me he unido a la comunidad OpenSource y YouTube. Estoy trabajando principalmente en curos de programación en .Net y de novedades, así como consejos como programador para gente que quiere empezar. En GitHub puedes encontrar mi ultimo proyecto el cual es una librería para leer CSV en .Net core.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <b>Teléfono:</b> @Telefono
    </div>
    <div class="col-sm-3">
        <b>Email:</b> vidapogosoft@gmail.com
    </div>
    <div class="col-sm-3">
        <b>GitHub:</b> /vidapogosoft
    </div>
    <div class="col-sm-3">
        <b>Website:</b> <a> href="https://github.com/vidapogosoft" </a>
    </div>
</div>

@code{

    [Parameter]
    public string Telefono { get; set; }

}
